main
  #terminal
    margin: 0 10px 10px 10px
    padding: 10px
    input
      @extend %input-text
      border: none
      outline: none
      padding-left: 20px
      border-bottom: 4px solid $pencil
      box-sizing: border-box
      width: 100%
      background-color: rgba(22, 22, 22, 0.0)
