@import url("https://fonts.googleapis.com/css?family=Amatic+SC|Patrick+Hand+SC|Sofia|Great+Vibes");
main span {
  font-family: 'Amatic SC', cursive;
  font-size: 1.5em;
  color: #2b2a27; }

html, body {
  margin: 0;
  padding: 0; }

body {
  background-image: url("../img/texture.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow-x: hidden;
  overflow-y: hidden; }

* {
  font-family: 'Patrick Hand SC', cursive; }

main {
  width: 900px;
  height: 700px; }
  main span {
    color: #555555;
    font-size: 4em;
    position: absolute;
    top: 7%;
    left: 50%;
    transform: translate(-50%, -50%); }
  main #character-menu {
    position: relative;
    top: 14%;
    transition: 2s;
    transform: translate(-30px, 0px);
    text-align: center; }
    main #character-menu div {
      position: absolute;
      height: 500px;
      width: 300px;
      transition: 0.3s; }
    main #character-menu #oliver {
      background-image: url("../img/oliver-sketch.png");
      background-size: cover;
      left: 5%; }
      main #character-menu #oliver:hover {
        cursor: pointer;
        background-image: url("../img/oliver-color.png");
        transform: translate(0, 10px); }
    main #character-menu #alice {
      background-image: url("../img/alice-sketch.png");
      background-size: cover;
      left: 25%; }
      main #character-menu #alice:hover {
        cursor: pointer;
        background-image: url("../img/alice-color.png");
        transform: translate(0, 10px); }
    main #character-menu #christopher {
      background-image: url("../img/christopher-sketch.png");
      background-size: cover;
      left: 50%; }
      main #character-menu #christopher:hover {
        cursor: pointer;
        background-image: url("../img/christopher-color.png");
        transform: translate(0, 10px); }
    main #character-menu #natalie {
      background-image: url("../img/natalie-sketch.png");
      background-size: cover;
      left: 72%; }
      main #character-menu #natalie:hover {
        cursor: pointer;
        background-image: url("../img/natalie-color.png");
        transform: translate(0, 10px); }
