@import url("https://fonts.googleapis.com/css?family=VT323");
main #character-menu, main #character-menu span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

html, body {
  margin: 0;
  padding: 0; }

body {
  background-color: #181d2d; }

* {
  font-family: 'VT323', monospace; }

main #character-menu {
  margin: auto;
  width: 760px;
  height: 560px;
  padding: 20px 20px 0 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; }
  main #character-menu div {
    height: 220px;
    width: 220px;
    background-color: #d8ac84;
    border: 3px solid #efefef;
    transition: 0.3s;
    justify-self: center; }
    main #character-menu div:hover {
      background-color: #947966;
      cursor: pointer; }
  main #character-menu span {
    font-size: 4em;
    letter-spacing: 10px;
    color: #efefef; }
